/*Typography*/

/*Typography Web*/
@media (min-width:901px){

blockquote{
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fa7da2;
    font-size: 18px;
    margin-left:0;
    margin-right:0;
    line-height: 20px;
}

strong{
    font-weight: 600;
}

em{
    font-style: italic;
}

.underline{
    text-decoration:underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: inherit;
}

ul{
    display: flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    list-style: none;
    font-size: 15px;
    flex-direction: row;
    padding-right: 10px;
    padding-left: 0;
}
 
a{
    padding-right: 10px;
}

button{
    display:block;
    position:absolute;
    top: 905px;
    left: 480px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    border-color: #b62025;
    color: #b62025;
    background-color: #ffc4d6;
    box-shadow: 2px 2px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    width: 180px;
    height: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    z-index: 10;
}
 
button a:hover{
    z-index: 10;
}

h1{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    font-weight: 200;
    color: #b62025;
    background-color: #ffc4d6;
    padding: 5px;
    letter-spacing: 0.1em;
    text-transform:none;
    text-align: start;
 }
 
 h2{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.1em;
    font-size: 20px;
    word-spacing: 5px;
    color: #b62025;
    text-transform: none;
    margin-top: 0;
}

h3{
     display: block;
     position: absolute;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     letter-spacing: 0.2em;
     font-size: 15px;
     word-spacing: 5px;
     color: #b62025;
     margin-top: 2000px;
     margin-left: 990px;
     padding-top: 10px;
     padding-bottom: 20px;
     align-items: flex-end;
     font-style: italic;
     z-index: 5;
}
 
 p{
    font-family:'Franklin Gothic Regular', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 15px;
    margin-top: 0;
}

 figcaption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 10px;
}
}

/*Typography Mobile*/
@media (max-width:600px){
h1{
    margin-top: 30px;
}

h3{
    margin-top: 80px; 
    margin-left: 30px;
    margin-right: 100px;
}
button{
    top: 805px;
    left: 180px;
}
ul{
    padding:0;
}
}
